<div class="container">
  <!-- Note menu -->
  <div class="row" style="margin-top:12px;">
    
    <div class="col-md-4">
      <button type="button"
              (click)="createRecord()"
              class="btn btn-info pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New notebook
      </button>
      <button type="button"
              (click)="addRecord()"
              [disabled] = "selectedRecord == null"
              class="btn btn-warning pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New Record
      </button>
    </div>

  </div>

  <!-- Note content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Notebooks Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click) ="selectedRecord=null" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;All
        </a>
        <!-- Notebook List -->
        <a *ngFor="let record of records" (click)="selectRecord(record)" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;
          <input [(ngModel)]="record.name" (change)="updateRecord(record)" type="text" class="input-label" style="width:80%"/>
          <a (click)="deleteRecord(record)" class="pull right text-danger">
              <i class="fa fa-trash-o"></i>
          </a>
        </a>
      </div>
    </div>

    <!-- Notes Panel -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <!-- Message if there are no notes -->
          <h3 *ngIf="selectedRecord != null">{{selectedRecord.name}}</h3>
          <h3 *ngIf="selectedRecord == null">All Records</h3>
          <p *ngIf="this.records.length == 0">There are no records to be displayed</p>
        </div>
      </div>
      <div class="row">
        <!-- Note list -->
        <div *ngFor="let record of records" class="card bg-warning" style="border:4px solid white;" >
          <div class="card-body" style="padding:8px; margin-top:8px;" >
            <div>
              <!--Title-->
              <div>
                  <label for="name">Employee Id:</label>
              <input  type="text"
                      [(ngModel)]="record.userId"
                      (change)="updateRecord(record)"
                      class="input-label-lg"
                      maxlength = "18" style="width:80%"
              />
              </div>
              <div>
                  <label for="name">Employee Name:</label>
              <input  type="text"
                      [(ngModel)]="record.name"
                      (change)="updateRecord(record)"
                      class="input-label-lg"
                      maxlength = "18" style="width:80%"
              />
              </div>
              <div>
                  <label for="name">Email:</label>
              <input  type="text"
                      [(ngModel)]="record.email"
                      (change)="updateRecord(record)"
                      class="input-label-lg"
                      maxlength = "18" style="width:80%"
              />
              </div>
              <div>
                  <label for="name">Birth Date:</label>
              <input  type="text"
                      [(ngModel)]="record.date"
                      (change)="updateRecord(record)"
                      class="input-label-lg"
                      maxlength = "18" style="width:80%"
              />
              </div>
              <div>
                  <label for="name">Skills:</label>
              <input  type="text"
                      [(ngModel)]="record.skills"
                      (change)="updateRecord(record)"
                      class="input-label-lg"
                      maxlength = "18" style="width:80%"
              />
              </div>
              
              <a (click)="deleteRecord(record)" class="pull-right text-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
            <!--Text-->
            <textarea class="input-label"
                      style="width:100%"
                      rows="6"
            ></textarea>
            <strong class="text-info" style="font-size:small"></strong>

          </div>  
        </div>
      </div>
    </div>
  </div>
</div>